p a{
    color:#3097d1 !important;
}
.text-1{
    color: rgb(57,168,168) !important;
}
.border-new{
    border: 1px solid #ccc;

}
.category-home-image{
    height: 60px;
    width: 60px;
}
.latest-home-report{
    border:1px solid #ccc;
    padding: 0px;
    margin:10px;
}
.latest-home-report img{
    width: 100%;
    height: 200px;
}
.content-text{
    padding: 10px;
}
.text-black{
    color: #000 !important;
}
#search{
    width: 100%;
    padding: 20px;
    border-radius: 0px;
}
#btn-search{
    padding: 7px;
    border-radius: 0px;   
    background-color: #246A9F;
    border:1px solid #246A9F;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
}
.search-box{
    margin-top: 30px;
    margin-bottom: 30px !important;
}

.search-background{
    background-color: rgba(0,0,0,0.7);
    padding-left: 0px;
    padding-top: 15px;
    border-radius: 10px;
}
#index-search-margin{
    margin-top:25px;
}
#index-search-margin-bottom{
    margin-bottom:25px;
}
#search-font{
    font-size: 55px;
}
#search-font1{
    font-size: 35px;
}
.no-left-padding{
    padding-left: 0px !important;
}
#index-height{
    height:300px;
}
.li-left{
    margin-left: 5px;
}
.about-heading{
    color:rgb(59,159,159);
    font-size: 40px;
    border-bottom:1px solid #000;
}
#head-color{
    color:#246A9F; 

}
.color-blue{
    color:blue;
}
.message-text{
    font-size: 14px !important;
}
.background-black{
    background-color: black;
    color:white;
}
.alert{
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-bottom: 0px !important;
}
.add-button{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    margin-bottom: 0px !important;
    text-transform: capitalize !important;
}
.back-white{
    background-color: white;
    color: black;
}
.back-gray{
    margin-top:0px; 
    background-color: rgb(57,70,79);
    color:white;
}
.color-button1{
    border-radius: 3px !important;
    padding: 9px 15px;
    border-color: #246A9F !important;
    background: linear-gradient(to bottom, #246A9F, #246A9F) !important;
    height:40px; 
    width: 100px;
    color: #fff;
}
.back-blue{
    margin-top: -60px;
    margin-left: 80px;
    margin-bottom: 20px;
    background-color:#246A9F;
    color:#fff;
}

.back-image{
    background-image: url("images/about_us_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#divtitle{
    text-align: left;
    /* color: blue;*/
    color: rgb(57,168,168);
    margin-top:10px;
}
.margin-1{
    border: 1px solid #ccc;
    /*margin-right: 30px;*/
    /*margin-left:100px;*/ 

}
.margin-2{
    border: 1px solid #ccc;

    /*margin-right: 50px;*/
    margin-left:0px; 

}
.black-text{
    color:black;
}
#black-text{
    color:black;
}
.min-h{
    min-height: 82px;
    outline: 1px solid #000;
}
.text-1{
    color: rgb(57,168,168);

}
.text-gray{
    color:#aaa;

}
#text-gray a{
    color:#aaa;

}
.text-333{
    color: #333 !important; 
}
#text-gray-dark{
    color:rgb(100,114,130);
    font-family: 'arial narrow';
}
#text-gray {
    color:#aaa;
    font-size: 14px;
    font-weight: 400;
}
#text-white{
    color:#fff;
    font-weight: 300;
}
.blck{
    color:#4D5763;
}
.borders-right{   
    border-right: 1px solid #ccc;
}
.borders-left{
    border-left: 1px solid #ccc;
}
.about-us-border{
    border-bottom-style: solid ; 
    width:20%; 
    border-bottom-color:red;
}
.black-border{
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
.top-header{
    width: 230px;border-bottom: 0px solid transparent; 
    border-top: 30px solid transparent; 
    border-right:25px solid; 
    height: 30px;
}
.bottom-header{
    background: #012932;
    border-bottom: 40px solid transparent;
    border-top: 0px solid transparent;
    border-left: 30px solid;
    height: 0px; 
    margin-top:56px; 
    margin-bottom: 0px;  
    margin-left: 130px;
    color:#fff;
}
.padding-1 {
    background-color: #fff;
    padding: 0px;

}
#color-gray1{
    color:#888;
}
.bottom-footer{
    background-color: rgb(60,174,174);
    border-bottom: 40px solid transparent;
    border-top: 0px solid transparent;
    border-left: 30px solid;
    height: 0px; 
    padding-right:0px    ;
    margin-top:0px; 
    margin-bottom: 0px;  
    margin-left: 0px;
}
#bg-primaryText1 {
    background: #162228;
    color: #263238;
}

#bg-primaryText1 a{
    padding-right: 20px;
    color:white ;
}
#padding-none{
    border-top: 1px solid #e4e4e4;
    background-color: #f4f6f8;
    color: #fff;
    padding-top: 20px;


}
#index-font-name{
    font-family: none;
}
#color-white{
    color:white;
}
.main-menu-area div div span a{
    margin-right:10px;
}
#bg-primaryText1 a:hover{
    color:orange;
}
#increase-margin-bottom{
    margin-bottom: 40px;
}
#color-12{
    left: auto;
    right: 0;
    background-image:none;
    background-image: none;
    background-repeat: repeat-x;
    left: auto;
    right: 0;
    background-repeat: repeat-x;
}
#button-border{
    border-radius: 0px; 
}
#footer-button{
    border-radius: 0px; 
    background-color:rgb(224,70,34); color:white;
}
#index-search-div{
    font-family: 'Arial Unicode MS';
}
#after-search-div{
    border-bottom: 1px solid #dde3e8;
    padding-bottom: 20px;
    font-size: 17px;
}
#new-index-title{
    font-family:'Arial';
    font-size:27px;
}
#footer-font{
    font-family:'arial';
    font-size:25px;
}
#footer-font1{
    font-family:'arial';
    font-size:20px;
}
#index-padding1{
    text-align: left; 
    padding:40px;
    padding-bottom: 0px;
    margin-left: 60px;
    min-height: 245px;
}
#zero-padding{
    padding: 0px;
}
#testimonial-color{
    color:#bbb; 
    font-size: 30px;
}
#latest-report-content{
    text-align: left;
}
.author-name{
    margin-right: -40px; margin-left: -40px; background-color: #379F9E;padding-bottom: 15px;
}
.author-pos{
    color:#fff;
}
.lic-type-center{
    background: linear-gradient(#0e2a3f,#246A9F);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0.8rem;
    color: #fff;

}
#lic-type-margin{
    margin-left: 10px; margin-right: 10px;
}
#li-top{
    margin-top: 10px;
    border-bottom: solid 1px #999;
}
#panel-back{
    background:#eee;
}
.form-group .fa-question-circle{
    background: #2CaF95 !important;
    color: #fff !important;
}
.tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {background-color: #f00;
}

.admin-top-margin{
    margin-top: 20px;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
.alert-danger{
    margin-top: 10px;
}
.alert-success{
    margin-top: 10px;
}
.text-theme{
    color: #246A9F;
}
.footer-area-top a{
    color: #000 !important;
}
.footer-area-top h3{
    color: #246A9F !important;
}
.footer-area-top p{
    color: #000 !important;
}
#footer{
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid  #e4e4e4;
    background-color: #f4f6f8;

}

@media screen and (min-width: 768px) {
    .mobile-logo{
        display: none !important;
    }
}
.fa-stack .fa{
    font-size: 15px;
}
.mobile-logo{
    width: 70%;
    float: right;
}
.report-home-img{
    width: 100%;
    height: 482px;
}
.text-1{
    color: rgb(57,168,168) !important;
}
.border-new{
    border: 1px solid #ccc;

}
.category-home-image{
    height: 60px;
    width: 60px;
}
.latest-home-report{
    border:1px solid #ccc;
    padding: 0px;
    margin:10px;
}
.latest-home-report img{
    width: 100%;
    height: 200px;
}
.content-text{
    padding: 10px;
}
.text-black{
    color: #000 !important;
}
#search{
    width: 100%;
    padding: 20px;
    border-radius: 0px;
}

.search-box{
    margin-bottom: 30px;
    display:table-row;
}

.search-background{
    display:flex;
    max-height: 73px;
    background-color: rgba(0,0,0,0.7);
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}
#index-search-margin{
    margin-top:25px;
}
#index-search-margin-bottom{
    margin-bottom:22px;
}

/*#index-height{
height:430px;
}*/
.pad-0{
    padding: 0px;
}

#see-all-button{

}
#btn-search{
    padding: 7px;
    border-radius: 0px;   
    background-color: #246A9F;
    border:1px solid #246A9F;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
}
@media screen and (min-width: 768px) {
    .container-fluid{
        padding-bottom: 10px !important;
        padding-top: 20px !important;
    }
    .mobile-menu-area{
        display: none;
    }
}

@media screen and (max-width: 767px) {

    #btn-search{
        padding-top: 0px !important;
    }
    .main-menu-areas{
        display: none;
    }
}
.page-margin{
    margin-top: 20px;
}
.content-title{
    font-family:'Arial black';font-size:30px;color:#555F6B;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("{{Config('app.baseURL')}}/images/loader.gif") center no-repeat rgba(255,255,255,0.5);
}

.calibri{
    font-family:"calibri";
}
#cursor{
    cursor: pointer;
}
@media only screen and (max-width: 500px) {
    #index-padding1{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }
}
a div span{
    color:#000;
}
a .latest-home-report{
    border: none;
}
.single-item-grid .item-img img{
    height: 50px;
}
.product-page-list .container a{
    cursor: pointer;
}

#padding-none{
    padding-bottom: 5px;
}
.inner-block{
    background-color: #fff;
    margin: 10px;
    min-height: 254px;
    text-align: center;
    padding: 30px 10px 10px 10px;
}
.inner-block h3{
    color: #000;
    margin-bottom: 10px;
}
.inner-block p{
    color: #000;
}

.text-white{
    color:#fff;
}
.tooltip-inner {background-color: #DE4521 ;
                color:#FFF;}
.tooltip-arrow { border-bottom-color:#f00; }
.licence-type-list{
    margin-top: 5px;
    border-bottom: 1px solid #3EBDE4;
}

.verticalLine {
    height: 100%;
    width: 1px;
    border-left: 1px solid gray;
    margin:8px;
    padding-left:15px;
}
#table-view-more{
    display: none;
}
#figure-view-more{
    display: none;
}
.info{
    padding-top: 10px;
}
#payment{
    display: none;
}
#view-more{
    display: none;
}
.text-white{
    color:#FFF !important;
}
.back-grey{
    background-color: #eee;
}
.btn-download{
    background-color: #dc071b;
    border-color: #dc071b;
    color: #fff;
}
.btn-download:hover{
    background-color: #fff;
    border-color: #4c5763;
    color: #4c5763;
}
.tab-pane i p {
    padding: 0px;
    margin:0px;
    background: none;
    border: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#more{
    display: none;
}
#table_more{
    display: none;
}
#figure_more{
    display: none;
}
center .btn:hover{
    color:#DC4421;
}
a .btn-download:hover{
    color:#fff !important   ;
    background-color: #fff !important;
}
a .btn-download:active{
    color:#fff !important   ;
    background-color: #DC4421 !important;
}

.text-1{
    color: rgb(57,168,168)  !important;
}
.border-new{
    border: 1px solid #ccc;

}
.category-home-image{
    height: 60px;
    width: 60px;
}
.latest-home-report{
    border:1px solid #ccc;
    padding: 0px;
    margin:10px;
}
.latest-home-report img{
    width: 100%;
    height: 200px;
}
.content-text{
    padding: 10px;
}
.text-black{
    color: #000 !important;
}
#search{
    width: 100%;
    padding: 20px;
    border-radius: 0px;
}
#btn-search{
    padding: 7px;
    border-radius: 0px;   
    background-color: #246A9F;
    border:1px solid #246A9F;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
}
.search-box{
    margin-bottom: 40px;
}

.search-background{
    background-color: rgba(0,0,0,0.7);
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}
#index-search-margin{
    margin-top:25px;
}
#index-search-margin-bottom{
    margin-bottom:25px;
}
#index-height{
    height:300px;
}
.li-left{
    margin-left: 5px;
}
.product-details-title li.active{
    background-color: #fff !important;

}
.inner-page-main-body .product-details-tab-area .product-details-title .active a{
    color: #246A9F;
}
.inner-page-main-body .product-details-tab-area .product-details-title li a:hover{
    color: #246A9F;
    background-color: #fff;
}
.inner-page-main-body .product-details-tab-area .product-details-title li a{
    border: solid 1px #ebebeb;
    border-bottom: none;
}
.inner-page-main-body .product-details-tab-area .product-details-title{
    border-bottom: none;
}
.product-details-title{
    height: 40px;
}
.bottom-padding{
    margin-bottom: 10px;
}
.product-list-view-style2 .single-item-list .item-content{
    padding: 4px 30px 15px !important;
}
.form-group .fa-question-circle{
    color:#000;
    background: transparent;;
}
.btn{
    color:#fff;
}
button:active {
    background-color: #45ccca !important;
}
#myCarousel .carousel-inner .item img{
    height: 105px;
}
#myCarousel .carousel-inner .item{
    min-height: 120px;
}
.item p  span{
    color:#246A9F;
}
#item-1{
    min-height: 250px;
}

h5{ 
    position: absolute; top: 10px; left: 20px;right:20px; width: 80%;
}
h5 span{ 
    color: white; font: bold 12px/18px Helvetica, Sans-Serif; letter-spacing: -1px;  
    padding: 10px; 
}
h5 span.spacer{ 
    padding: 0px; background: none; 
}
#download{
    background-color: #246A9F !important;
}
#download a{
    color:#fff;
}

#download:hover{
    background-color: #FFF;
}
#download a:hover{
    color:#246A9F ;
}
#download:active{
    background-color: #FFF;
}
#download.active a{
    color:#246A9F;
}
p{
    font-style: normal !important;
}
